*{
  margin: 0;
  padding: 0;
  text-align: center;

}

h1{
  background-color: orchid;
  text-align: center;
  color: white;
  height: 50px;
  border: 1px solid purple;
}

.option{
  height: 165;
  width: 165;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover{
  background-color: #081b31;
  cursor: pointer;
  opacity: 0.5;
}

img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 50px;
}

.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 70px;
  gap: 200px;
}

#user , #computer{
  font-size: 40px;
}

 #msg{
  background-color: rgb(7, 1, 13);
  display: inline;
  border-radius: 1rem;
  padding: 1rem;
  color: aqua;
  font-size: 2rem;

}